body {
    font-family: Arial, sans-serif;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    overflow-x: hidden;
}


.none {
    border: 0;
    background-color: #fff;
}

header {
    display: flex;
    margin-top: 20px;
    max-height: 137px;
    background-color: #61787F;
    border: solid 1px black;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

h2 {
    text-align: center;
}

h3 {
    text-align: left;
}

header img {
    max-height: 137px;
    max-width: 70%;
}

header .text {
    display: none;
    font-size: 1.5rem;
    color: white;
}

.movie-info{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.movie-highlight{
    display: flex;
    align-items: center;
    border: solid 6px black;
    overflow: hidden;
}

.movie-highlight img {
    height: 241px; 
    width: 90%;
    object-fit: cover;
}

.highlight-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: start;
        text-align: left;
        padding: 0 20px;
    }
    header .text {
        display: block;
        margin-left: 20px;
    }

    h2 {
        text-align: left;
    }

    .movie-info{
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    }

    .movie-info h3 {
        position: relative;
        top: 10px;
    }

    
    .movie-highlight{
        display: flex;
        border: solid 6px black;
        overflow: hidden;
        flex-direction: row;
        height: 400px;
    }
    
    .movie-highlight img {
        height: 100%; 
        width: auto;
        padding: 20px;
    }

    .movie-info button{
        align-self: flex-end;
        margin-left: 20px;

    }
    
    .highlight-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.category-select select {
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    border: 2px solid #000;
    font-weight: bold;
    appearance: none;
    cursor: pointer;
}

.category-select select:hover {
    background-color: rgb(248, 248, 248);
}


.category-select{
    margin-bottom: 20px;
}


.movie-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.movie {
    position: relative;
    overflow: hidden;
    height: 300px;
}

.movie img {
    width: 100%;
    object-fit: cover;
}

.movie-info-category {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 120px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    box-sizing: border-box;
    transition: opacity 0.3s ease;
}

.movie:hover .movie-info-category {
    opacity: 1;
}

.movie-info-category h3 {
    margin: 0;
    font-size: 1.2em;
    position: absolute;
    top: 32px;
    left: 16px;
}

.movie-info-category .btn-details{
    position: absolute;
        bottom: 16px;
        right: 16px;
        font-size: 0.9em;
        background-color: #2D2C2C;
        transition: background-color 0.3s ease #afafaf;

}

.movie-info-category .btn-details:hover {
    background-color: #0056b3;
}


.btn-load-more {
    background-color: #FA0B0B;
    color: #fff;
    border-radius: 25px;
    padding: 2px 4px 2px 4px;
    gap: 10px;
    border: none;
    font-size: 14px;
    line-height: 20.75px;
    width: 96px;
    height: 36px;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
}

@media (min-width: 768px) {
    .movie-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .movie-list {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .btn-load-more {
        display: none;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 6px solid #000000;
    width: 90%;
    max-width: 800px;
    height: 60dvh;
    position: relative;
    overflow: hidden;
}

.close {
    color: #f80000;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    z-index: 1001;
}

.close:hover,
.close:focus {
    color: rgb(189, 42, 42);
    text-decoration: none;
    cursor: pointer;
}

.modal-body {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    width: 100%;
}

.modal-info, .modal-image {
    width: 100%;
    text-align: left;
}

.modal-info {
    margin-bottom: 20px; 
}

.modal-description {
    width: 100%;
    margin-top: 10px;
}

.modal-actors, .modal-genres {
    margin-top: 10px;
}

.modal-info p, .modal-description p {
    margin: 0;
}

.close-button {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    border-radius: 25px;
    padding: 2px 4px;
    border: none;
    font-size: 14px;
    width: 83px;
    height: 36px;
    background-color: #FA0B0B;
    cursor: pointer;
}

.close-button:hover {
    background-color: #8d0101;
}

@media (min-width: 768px) {
    .modal-body {
        flex-direction: row; 
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .modal-info {
        width: 50%;
        text-align: left;
        line-height: 1.2em;
    }

    .modal-image {
        width: 50%;
        text-align: right;
    }

    .modal-description {
        width: 100%;
        text-align: left;
        margin-top: 20px;
    }
}

@media (min-width: 1024px) {
    .close {
        display: none; 
    }

    .close-button {
        display: block; 
    }
}

.btn-details {
    background-color: #FA0B0B;
    color: #fff;
    border-radius: 25px;
    padding: 2px 4px 2px 4px;
    gap: 10px;
    border: none;
    font-size: 14px;
    line-height: 20.75px;
    width: 83px;
    height: 36px;
}

.btn-details:hover {
    background-color: #8d0101;
}

@media (max-width: 768px) {
    .movie-highlight {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .movies {
        flex-direction: column;
    }
}
